[Unit]
Description=Copy genie.henshaw.us's backups to this computer
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/genie-backup-pull
